/*
	Estilo para mobile first
*/
/*
	Estilos generales.
*/
body{
	font: 2em;
	margin: 0%;
	margin-top: 0%;
	padding: 0%;
	border: 0 none white;
}
header{
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	width: 100%;
	background-color: gray;
}
nav{
	float: left;
	width: 97.5%;
	margin: 0.5%;
	border: none;
	padding: none;
}
menu{
	background-color: black;
	width: 100%;
	padding:0;
	margin: 0;
	float: left;
	height: 2%;
	border: none;
}
menu menuitem{
	float: left;
	border-right: 0 none white;
	padding: 1%;
	margin: 0;
	width: 100%;
}
menu menuitem:hover{
	color:gray;
}
aside{
	float: left;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
}
footer{
	float:left;
	width:100%;
	background-color:gray;
	border: none;
	margin: 0;
	padding: 0;
}
footer p{
	padding: 0.5%;
	margin: 0.5%;
	text-align: center;
}

/*
	Estilos para clases
*/
.titulo span{
	margin: 0.5%;
	padding: 0.5%;
	border: none;
}		
.menu{
	margin-top: 4.5%;
}		
.menu menuitem{
	color:white;
}
.titulo_p{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0px solid white;
}
.imagen{
	float:left;
	width:100%;
	border: none;
	margin: 0;
	padding: 0;
}
.texto{
	float:left;
	width:100%;
	border: none;
	margin: 0;
	padding: 0;
}

/*
	Estilos para id's solo para casos especificos 
*/
#img{
	float: left;
	border:none;
	margin:0;
	padding:0;
	width: 90%;
}
#texto_p{
	float: left;
	border:none;
	margin:0;
	padding:0;
}
	
/*

Aca empiezan los media Query, cuando la pantalla tiene un minimo de 470 px se aplica el estilo para pc

*/
@media only screen and (min-width: 470px) {
	body{
		margin: 0.1%;
		padding: 0%;
		border: 0 solid white;
	}
	menu{
		height: 0%;
	}
	menu menuitem{
		border-right: 1px solid white;
		width: auto;
	}
	nav{
		width: 100%;
		margin: 0%;
	}
	aside{
		width: 25%;
	}	
	.menu{
		margin-top: 0%;
	}
	.imagen{
		width: 75%;
	}
	.titulo{
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		padding-left: 0px;
		padding-right: 0px;
	}
	#img{
		width: 70%;
	}
}


