#grandParent{
	border: 2px outset black;
	background-color: white;
	font-weight: bold;
}

#grandParent p{
	margin-top: 4px;
}

#parent{
	border: 1px solid black;
	margin: 11px;
	padding: 0px 8px;
	background-color: white;
}

#parent p{
	margin-top: 2px;
}

#fixedSize{
	position: static;
	width: 115px;
	height: 90px;
	margin: 10px auto;
	background-color: orange;
	border: 3px outset black;
}

#fixedSize p{
	margin-top: 5px;
}

#stretched{
	position: static;
	width: auto;
	height: auto;
	margin: 10px 50px;
	background-color: orange;
	border: 3px outset black;
}

#stretched p{
	margin-bottom: 2px;
}

#lastBox {
	margin-bottom: 10px;
	background-color: orange;
}

#lastBox  span{
	position: static;
	margin: 156px;
	line-height: 32px;
	padding: 3px;
}
